<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dashboard.domain.business.BusinessDashMapper">
    <insert id="saveJob" parameterType="com.job.dashboard.domain.dto.JobPostDTO">
/*job게시글 저장*/
INSERT INTO job_post_info (user_id,
                           title,
                           description,
                           job_type_code,
                           address,
                           salary_type_code,
                           salary,
                           job_time,
                           job_day_type_code,
                           manager_number,
                           requirement,
                           number_of_staff,
                           employment_type_code,
                           etc,
                           system_register_id)
VALUES (#{userId},
        #{title},
        #{description},
        #{jobTypeCode},
        #{address},
        #{salaryTypeCode},
        #{salary},
        #{jobTime},
        #{jobDayTypeCode},
        #{managerNumber},
        #{requirement},
        #{numberOfStaff},
        #{employmentTypeCode},
        #{etc},
        #{systemRegisterId})
    </insert>

    <select id="getJobLists" resultType="com.job.dashboard.domain.dto.JobPostDTO">
        /*job게시글 목록들 가져오기*/
        SELECT job_id,
               title,
               job_type_code,
               address,
               salary_type_code,
               salary,
               system_register_datetime,
               job_time
        FROM job_post_info
    </select>

    <select id="getJobDetail" resultType="com.job.dashboard.domain.dto.JobPostDTO" parameterType="int">
        /*job게시글 상세페이지 가져오기*/
        SELECT
            job_id,
            userId,
            title,
            description,
            job_type_code,
            address,
            salary_type_code,
            salary,
            job_time,
            job_day_type_code,
            manager_number,
            requirement,
            number_of_staff,
            employment_type_code,
            etc,
            system_register_id,
            system_updater_id
        FROM job_post_info
        WHERE job_id = #{jobId}
    </select>

    <update id="updateJob" parameterType="com.job.dashboard.domain.dto.JobPostDTO">
        UPDATE job_post_info
        SET
            title = #{title},
            description = #{description},
            job_type_code = #{jobTypeCode},
            address = #{address},
            salary_type_code = #{salaryTypeCode},
            salary = #{salary},
            job_time = #{jobTime},
            job_day_type_code = #{jobDayTypeCode},
            manager_number = #{managerNumber},
            requirement = #{requirement},
            number_of_staff = #{numberOfStaff},
            employment_type_code = #{employmentTypeCode},
            etc = #{etc},
            system_updater_id = #{systemUpdaterId}
        WHERE
            job_id = #{jobId}
    </update>
</mapper>