<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dashboard.domain.job.PostMapper">
    <insert id="saveJob" parameterType="com.job.dashboard.domain.dto.JobPostDTO">
        INSERT INTO    /*PostMapper.saveJob*/ job_post_info (
                                USER_NO,
                                title,
                                description,
                                job_type_code,
                                zipcode,
                                address,
                                address_detail,
                                salary_type_code,
                                salary,
                                job_time,
                                job_day_type_code,
                                manager_number,
                                requirement,
                                number_of_staff,
                                employment_type_code,
                                etc,
                                system_register_id,
                                system_updater_id,
                                status_type_code
        )
        VALUES (#{userNo},
                #{title},
                #{description},
                #{jobTypeCode},
                #{zipcode},
                #{address},
                #{addressDetail},
                #{salaryTypeCode},
                #{salary},
                #{jobTime},
                #{jobDayTypeCode},
                #{managerNumber},
                #{requirement},
                #{numberOfStaff},
                #{employmentTypeCode},
                #{etc},
                #{userNo},
                #{userNo},
                'OPEN')
    </insert>

    <select id="getkeywordList" resultType="com.job.dashboard.domain.dto.JobPostDTO">
        SELECT   /*PostMapper.getkeywordList*/ job_id,
               USER_NO,
               title,
               job_type_code,
               (SELECT detail_name FROM code_detail WHERE group_code = 'job_type' AND detail_code = job_type_code) AS job_type_code_name,
               address,
               salary_type_code,
               (SELECT detail_name FROM  code_detail WHERE group_code = 'salary_type' AND detail_code = salary_type_code) AS salary_type_code_name,
               salary,
               DATE_FORMAT(system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
               job_time,
               status_type_code,
               (SELECT detail_name FROM  code_detail WHERE group_code = 'status_type' AND detail_code = status_type_code) AS status_type_code_name
        FROM job_post_info
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY system_register_datetime DESC
    </select>

    <select id="getJobLists" parameterType="map" resultType="com.job.dashboard.domain.dto.JobPostDTO">
        SELECT   /*PostMapper.getJobLists*/
            job_id,
            USER_NO,
            title,
            job_type_code,
            (SELECT detail_name FROM code_detail WHERE group_code = 'job_type' AND detail_code = job_type_code) AS job_type_code_name,
            address,
            salary_type_code,
            (SELECT detail_name FROM  code_detail WHERE group_code = 'salary_type' AND detail_code = salary_type_code) AS salary_type_code_name,
            salary,
            DATE_FORMAT(system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
            job_time,
            status_type_code,
            (SELECT detail_name FROM  code_detail WHERE group_code = 'status_type' AND detail_code = status_type_code) AS status_type_code_name
        FROM job_post_info
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY system_register_datetime DESC
    </select>

    <select id="getJobDetail" resultType="com.job.dashboard.domain.dto.JobPostDTO" parameterType="int">
        SELECT      /*PostMapper.getJobDetail*/
            job_id,
            USER_NO,
            title,
            description,
            job_type_code,
            (SELECT detail_name FROM code_detail WHERE group_code = 'job_type' AND detail_code = job_type_code) AS job_type_code_name,
            address,
            salary_type_code,
            (SELECT detail_name FROM code_detail WHERE group_code = 'salary_type' AND detail_code = salary_type_code) AS salary_type_code_name,
            salary,
            job_time,
            job_day_type_code,
            (SELECT detail_name FROM code_detail WHERE group_code = 'job_day_type' AND detail_code = job_day_type_code) AS job_day_type_code_name,
            manager_number,
            requirement,
            number_of_staff,
            employment_type_code,
            (SELECT detail_name FROM code_detail WHERE group_code = 'employment_type' AND detail_code = employment_type_code) AS employment_type_code_name,
            etc,
            status_type_code,
            (SELECT detail_name FROM code_detail WHERE group_code = 'status_type' AND detail_code = status_type_code) AS status_type_code_name,
            system_register_id,
            DATE_FORMAT(system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
            system_updater_id
        FROM job_post_info
        WHERE job_id = #{jobId}
    </select>

    <update id="updateJob" parameterType="com.job.dashboard.domain.dto.JobPostDTO">
        UPDATE job_post_info      /*PostMapper.updateJob*/
        SET
            USER_NO = #{userNo},
            title = #{title},
            description = #{description},
            job_type_code = #{jobTypeCode},
            address = #{address},
            salary_type_code = #{salaryTypeCode},
            salary = #{salary},
            job_time = #{jobTime},
            job_day_type_code = #{jobDayTypeCode},
            manager_number = #{managerNumber},
            requirement = #{requirement},
            number_of_staff = #{numberOfStaff},
            employment_type_code = #{employmentTypeCode},
            status_type_code = #{statusTypeCode},
            etc = #{etc},
            system_updater_id = #{systemUpdaterId}
        WHERE
            job_id = #{jobId}
    </update>

    <select id="getWriteUserNo" resultType="int" parameterType="int">
        SELECT /*PostMapper.getWriteUserNo*/
            USER_NO
        FROM job_post_info
        WHERE job_id = #{jobId}
    </select>

    <delete id="delete" parameterType="int">
        DELETE       /*PostMapper.delete*/
        FROM job_post_info
        WHERE job_id = #{jobId}
    </delete>

    <select id="profileCheck" parameterType="com.job.dashboard.domain.dto.UserProfileInfoDTO" resultType="int">
        SELECT         /*PostMapper.profileCheck*/ profile_id
        FROM USER_PROFILE_INFO
        WHERE USER_NO = #{userNo}
    </select>

    <select id="profileCount" parameterType="int" resultType="int">
        SELECT  /*PostMapper.profileCount*/ count(1)
        FROM user_profile_info
        WHERE USER_NO = #{userNo}
    </select>

    <select id="applyCheck" parameterType="int" resultType="int">
        SELECT  /*PostMapper.applyCheck*/ count(1)
        FROM job_application_info
        WHERE USER_NO = #{userNo}
        AND job_id = #{jobId}
    </select>

    <insert id="insertJobApplicationInfo" parameterType="com.job.dashboard.domain.dto.JobApplicationDTO">
        INSERT INTO job_application_info  /*PostMapper.insertJobApplicationInfo*/
        (
            job_id,
            USER_NO,
            status_type_code,
            motivation_description,
            system_register_id,
            system_updater_id
        ) VALUES (
            #{jobId},
            #{userNo},
            #{statusTypeCode},
            #{motivationDescription},
            #{userNo},
            #{userNo}
        )
    </insert>

    <delete id="deleteJobApplicationInfo" parameterType="com.job.dashboard.domain.dto.JobApplicationDTO">
        DELETE   /* PostMapper.deleteJobApplicationInfo */
        FROM job_application_info
        WHERE job_id = #{jobId} AND USER_NO = #{userNo}
    </delete>

    <select id="profileExistCheck" parameterType="int" resultType="int">
        SELECT /* PostMapper.profileExistCheck */ count(profile_id) AS countProfile
        FROM user_profile_info
        WHERE USER_NO = #{userNo}
    </select>

    <select id="applicationUserChe" resultType="int" parameterType="int">
        SELECT /* PostMapper.applicationUserChe */ count(user_no) AS countUserApplication
        FROM job_application_info
        WHERE USER_NO = #{userNo}
    </select>
</mapper>