<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dashboard.domain.business.BusinessDashMapper">
    <select id="checkBusinessNumByUserNo" parameterType="int" resultType="int">
        SELECT /*BusinessDashMapper.checkBusinessNumByUserNo*/
            count(*) AS BUSINESS_NUMBER
        FROM COMPANY_INFO
        WHERE BUSINESS_NUMBER = #{businessNumber}
    </select>

    <select id="getBusinessProfileList" parameterType="int" resultType="com.job.dashboard.domain.dto.CompanyInfoDTO">
        SELECT /* BusinessDashMapper.getBusinessProfileList */
            COMPANY_ID,
            USER_NO,
            COMPANY_NAME,
            COMPANY_DESCRIPTION,
            zipcode,
            ADDRESS,
            address_detail,
            longitude,
            latitude,
            INDUSTRY_CODE,
            BUSINESS_TYPE_CODE,
            BUSINESS_NUMBER,
            OFFICE_PHONE,
            SYSTEM_REGISTER_ID,
            SYSTEM_UPDATER_ID
        FROM COMPANY_INFO
        WHERE USER_NO = #{userNo}
    </select>

    <select id="getCompanyIdSeq" parameterType="int" resultType="int">
        SELECT /* BusinessDashMapper.getCompanyIdSeq */
            COALESCE(MAX(COMPANY_ID) + 1, 1) as company_id_seq
        FROM COMPANY_INFO
    </select>

    <insert id="insertProfile" parameterType="com.job.dashboard.domain.dto.CompanyInfoDTO" >
        INSERT INTO /* BusinessDashMapper.insertProfile */
            company_info
            (
             company_id,
             user_no,
             company_name,
             company_description,
             zipcode,
             address,
             address_detail,
             longitude,
             latitude,
             industry_code,
             business_type_code,
             business_number,
             office_phone,
             system_register_id,
             system_updater_id
            ) VALUES (
                      #{companyId},
                      #{userNo},
                      #{companyName},
                      #{companyDescription},
                      #{zipcode},
                      #{address},
                      #{addressDetail},
                      #{longitude},
                      #{longitude},
                      #{industryCode},
                      #{businessTypeCode},
                      #{businessNumber},
                      #{officePhone},
                      #{userNo},
                      #{userNo}
                     ) ON DUPLICATE KEY UPDATE
            user_no             = #{userNo},
            company_name        = #{companyName},
            company_description = #{companyDescription},
            zipcode             = #{zipcode},
            address             = #{address},
            address_detail      = #{addressDetail},
            longitude           = #{longitude},
            latitude            = #{latitude},
            industry_code       = #{industryCode},
            business_type_code  = #{businessTypeCode},
            business_number     = #{businessNumber},
            office_phone        = #{officePhone},
            system_updater_id   = #{userNo}
    </insert>

    <select id="getBusinessProfileInfo" parameterType="int" resultType="com.job.dashboard.domain.dto.CompanyInfoDTO">
        SELECT /* BusinessDashMapper.getBusinessProfileInfo */
            ui.email,
            ui.user_type_code,
            ui.login_type_code,
            ci.company_name,
            ci.office_phone,
            ci.company_description,
            ci.industry_code,
            ci.business_type_code,
            ci.business_number,
            ci.zipcode,
            ci.address,
            ci.address_detail,
            ci.latitude,
            ci.latitude
        FROM
            user_info ui
                LEFT JOIN company_info ci ON ui.user_no = ci.user_no
        WHERE ui.user_no = #{userNo}
    </select>

    <select id="getSavedPassword" parameterType="int" resultType="String">
        SELECT /* BusinessDashMapper.getSavedPassword */
            password
        FROM user_info
        WHERE USER_NO = #{userNo}
    </select>

    <update id="updatePassword" parameterType="com.job.dashboard.domain.dto.UserDTO">
        UPDATE /* BusinessDashMapper.updatePassword */
            user_info
        SET
            password = #{password},
            system_updater_id = #{userNo},
            system_update_datetime = now()
        WHERE
            user_no = #{userNo}
    </update>

    <select id="getPostJobList" parameterType="map" resultType="com.job.dashboard.domain.dto.JobPostDTO">
        SELECT /* BusinessDashMapper.getPostJobList */
            jpi.job_id,
            jpi.title,
            jpi.job_type_code,
            func_get_detail_name('job_type', jpi.job_type_code) AS job_type_code_name,
            jpi.address,
            jpi.salary_type_code,
            func_get_detail_name('salary_type', jpi.salary_type_code) AS salary_type_code_name,
            jpi.salary,
            jpi.job_time,
            jpi.job_day_type_code,
            func_get_detail_name('job_day_type', jpi.job_day_type_code) AS job_day_type_code_name,
            jpi.number_of_staff,
            jpi.employment_type_code,
            func_get_detail_name('employment_type', jpi.employment_type_code) AS employment_type_code_name,
            jpi.system_register_id,
            jpi.system_updater_id,
            DATE_FORMAT(jpi.system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
            jpi.status_type_code,
            func_get_detail_name('status_type', jpi.status_type_code) AS status_type_code_name,
            (SELECT COUNT(*) FROM job_application_info jai WHERE jai.job_id = jpi.job_id) AS countApplication
        FROM job_post_info jpi
        WHERE jpi.USER_NO = #{userNo}
          AND jpi.title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY jpi.system_register_datetime DESC
    </select>

    <select id="getCandidateList" parameterType="map" resultType="com.job.dashboard.domain.dto.JobApplicationDTO">
        SELECT /* BusinessDashMapper.getCandidateList */
            jai.application_id,
            jai.job_id,
            jai.USER_NO,
            jai.status_type_code,
            func_get_detail_name('status_type', jai.status_type_code) AS status_type_code_name,
            DATE_FORMAT(jai.system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
            jai.motivation_description,
            jpi.title,
            upi.NAME,
            upi.phone,
            upi.gender,
            FLOOR(DATEDIFF(CURDATE(), upi.birth) / 365.25) AS old
        FROM
            job_application_info jai
                INNER JOIN job_post_info jpi ON jai.job_id = jpi.job_id
        INNER JOIN user_profile_info upi ON jai.USER_NO = upi.USER_NO
        WHERE jpi.USER_NO = #{userNo}
          AND jai.Job_ID = #{jobId}
          AND jpi.title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY jai.system_register_datetime DESC
    </select>

    <select id="getCandidateDetailInfo" parameterType="int" resultType="com.job.dashboard.domain.dto.JobApplicationDTO">
        SELECT /* BusinessDashMapper.getCandidateDetailInfo */
            jai.JOB_ID,
            jai.USER_NO,
            jai.MOTIVATION_DESCRIPTION,
            DATE_FORMAT(jai.system_register_datetime, '%Y-%m-%d') AS system_register_datetime,
            jai.status_type_code,
            func_get_detail_name('status_type', jai.status_type_code) AS status_type_code_name,
            upi.NAME,
            upi.PHONE,
            upi.BIRTH,
            upi.GENDER,
            FLOOR(DATEDIFF(CURDATE(), upi.birth) / 365.25) AS old -- 나이
        FROM
            job_application_info jai
        INNER JOIN user_profile_info upi
        ON jai.USER_NO = upi.USER_NO
        WHERE jai.USER_NO = #{userNo}
        AND jai.job_id = #{jobId}
    </select>

    <select id="getJobPostTitle" parameterType="com.job.dashboard.domain.dto.JobPostDTO" resultType="com.job.dashboard.domain.dto.JobPostDTO">
        SELECT /* BusinessDashMapper.getJobPostTitle */
        title
        FROM job_post_info
        WHERE job_id = #{jobId}
    </select>

    <update id="employCandidate" parameterType="com.job.dashboard.domain.dto.JobApplicationDTO">
        UPDATE  /* BusinessDashMapper.employCandidate */
            job_application_info
        SET status_type_code = 'HIRED'
        WHERE USER_NO = #{userNo}
          AND job_id = #{jobId}
--             ON DUPLICATE KEY UPDATE
--             status_type_code = 'APPLIED'
    </update>

    <update id="cancelEmployCandidate" parameterType="com.job.dashboard.domain.dto.JobApplicationDTO">
        UPDATE /* BusinessDashMapper.cancelEmployCandidate */
            job_application_info
        SET status_type_code = 'APPLIED'
        WHERE USER_NO = #{userNo}
          AND job_id = #{jobId}
    </update>




</mapper>