<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dashboard.domain.user.UserMapper">
    <select id="check" parameterType="com.job.dashboard.domain.dto.UserDTO" resultType="int">
        SELECT count(*) AS countemail
        FROM user_info
        WHERE email = #{email}
    </select>

    <insert id="accountInsert" parameterType="com.job.dashboard.domain.dto.UserDTO">
        INSERT INTO user_info (email, password , user_type_code, system_register_id,system_updater_id)
        VALUES (#{email}, #{password}, #{userTypeCode}, #{systemRegisterId}, #{systemUpdaterId})
    </insert>

    <select id="getHashedPassword" parameterType="com.job.dashboard.domain.dto.UserDTO" resultType="java.lang.String">
        SELECT password
        FROM user_info
        WHERE email = #{email}
    </select>

    <select id="findAccount" parameterType="com.job.dashboard.domain.dto.UserDTO" resultType="com.job.dashboard.domain.dto.UserDTO">
        SELECT user_id, email, password, user_type_code, system_register_id, system_register_datetime, system_updater_id,
               system_update_datetime
        FROM user_info
        WHERE email = #{email}
          AND password = #{password}
    </select>
</mapper>

