<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dashboard.domain.member.MemberMapper">

    <select id="idCheck" parameterType="com.job.dashboard.domain.member.MemberDTO" resultType="int">
        SELECT count(*) AS countId
        FROM member_info
        WHERE member_id = #{memberId}
    </select>

    <select id="emailCheck" parameterType="com.job.dashboard.domain.member.MemberDTO" resultType="int">
        SELECT count(*) AS countEmail
        FROM member_info
        WHERE email = #{email}
    </select>

    <select id="businessNumCheck" parameterType="com.job.dashboard.domain.member.MemberDTO" resultType="int">
        SELECT count(*) AS countbusinessNum
        FROM member_info
        WHERE business_registration_number = #{businessRegistrationNumber}
    </select>

    <insert id="insert" parameterType="com.job.dashboard.domain.member.MemberDTO">
        INSERT INTO member_info (member_id, password, name, email, phon_number, business_registration_number,
                                 grade_code, registrar_id, modifier_id)
        VALUES (#{memberId}, #{password}, #{name}, #{email}, #{phoneNumber}, #{gradeCode}, businessRegistrationNumber,
                #{registrarId}, #{modifierId})
    </insert>
</mapper>