<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dashboard.domain.notification.NotificationMapper">

    <select id="findNotificationsByUserNo" resultType="com.job.dashboard.domain.dto.NotificationDTO">
        SELECT /* NotificationMapper.findNotificationsByUserNo */
            NOTIFY_ID,
            USER_NO,
            MESSAGE,
            NOTIFY_TYPE_CODE,
            SHOW_YN
          FROM notification_info WHERE user_no = #{userNo} AND show_yn = 'N'
    </select>

    <insert id="insertNotification" parameterType="com.job.dashboard.domain.dto.NotificationDTO">
        INSERT /* NotificationMapper.insertNotification */
          INTO notification_info (user_no, message, NOTIFY_TYPE_CODE, system_register_id, system_updater_id)
        VALUES (#{userNo}, #{message}, #{notifyTypeCode}, #{userNo}, #{userNo})
    </insert>

</mapper>

