<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dashboard.domain.notification.NotificationMapper">

<!--  todo: 서브쿼리말고 join을 이용하기  -->
    <select id="findNotificationsByUserNo" resultType="com.job.dashboard.domain.dto.NotificationDTO">
        SELECT /* NotificationMapper.findNotificationsByUserNo */
            ni.notify_id,
            ni.receiver_id,
            ni.message,
            ni.notify_type_code,
            ni.is_read,
            ni.giver_id,
            (
                SELECT
                    ifnull(ci.company_name,upi.NAME)
                FROM
                    user_info ui
                        LEFT JOIN company_info ci ON ui.user_no = ci.user_no
                        LEFT JOIN user_profile_info upi ON ui.user_no = upi.USER_NO
                WHERE ui.user_no = ni.giver_id
            ) AS 'name',
                ( SELECT ui.user_type_code FROM user_info ui WHERE ui.user_no = ni.receiver_id)AS user_type_code,
            func_format_time_ago(ni.system_register_datetime) AS system_register_datetime
        FROM notification_info ni
        WHERE ni.receiver_id = #{userNo}
          AND ni.is_read = 'N'
        ORDER BY ni.system_register_datetime DESC
    </select>

    <insert id="insertNotification" parameterType="com.job.dashboard.domain.dto.NotificationDTO">
        INSERT /* NotificationMapper.insertNotification */
          INTO notification_info (receiver_id, message, NOTIFY_TYPE_CODE, giver_id, system_updater_id, system_register_datetime)
        VALUES (#{receiverId}, #{message}, #{notifyTypeCode}, #{giverId}, #{giverId}, now())
    </insert>

</mapper>

